*{
  padding: 0;
  margin: 0;
}

html{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.images{
  max-width: 500px;
}

.image{
  margin-bottom: 0px;
}

.image img{
  display: block;
  width: 100%;
}

.intro{
  padding: 20px;
  max-width: 280px;
}

h1{
  margin-bottom: 20px;
  line-height: 1;
  font-weight: 600;
  color: #8880bd;
  margin-top: 20px;
}

.username{
  color: #81a438;
}

.drawn{
  margin-top: 10px;
  color: #CCC;
}

.footer{
  padding: 20px;
}

.credit{
  font-size: 12px;
  margin-top: 10px;
  color: #BBB;
  text-indent: 3px;
}

.credit a{
  text-decoration: none;
  color: #BBB;
  display: inline-block;
  border-bottom: 1px solid #EEE;
}

.logo{
  width: 120px;
  display: block;
}

.logo svg{
  display: block;
}
